<% include common/header.ejs %>
<form method="post" action="" style="width:300px;">
    用户名：<input type="text" name="user" placeholder="请输入用户名" style="width:150px;height:30px;"/><br>
    密    码：<input type="text" name="password" placeholder="请输入密码" style="width:150px;height:30px;margin-top:30px"/><br>
    邮    箱：<input type="text" name="mail" placeholder="请输入邮箱" style="width:150px;height:30px;margin-top:30px"/><br>
    <input type="submit" value="注册"/>
</form>
<% include common/footer.ejs %>